<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Providers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to Activity <span th:text="${activity.name}">Name</span> Offers
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/activities}">Activities</a>
		<br/>
		<h3>Create Offer</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/offers}" th:object="${offer}" method="post">
			<label>Begin: </label> <input class="form-control" type="text" th:field="*{begin}" /> 
			<label>End: </label> <input class="form-control" type="text" th:field="*{end}" />
			<label>Capacity: </label> <input class="form-control" type="text" th:field="*{capacity}" />  
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>List of Offers</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Begin</th>
					<th>End</th>
					<th>Capacity</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="offer: ${activity.offers}">
					<td th:text="${offer.begin}">Begin</td>
					<td th:text="${offer.end}">End</td>
					<td th:text="${offer.capacity}">Capacity</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>