<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Offers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to Activity <span th:text="${activity.name}">Name</span> Offer
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/providers}">Providers</a>
		<br/>
		<h3>Create Offer</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/providers/{code}/activities/{code}/offers(code=${activity.code})}" th:object="${offer}" method="post">
			<label>Begin: </label> <input class="form-control" type="date" th:field="*{begin}" />  
			<label>End: </label> <input class="form-control" type="date" th:field="*{end}" />  
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>Activity Offers</h3>
 		<table class="table table-striped">
			<thead>
				<tr>
					<th>Begin</th>
 					<th>End</th>
					<th>Capacity</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="offer: ${activity.offers}">
					<td th:text="${offer.begin}">begin</td>
 					<td th:text="${offer.end}">end</td>
 					<td th:text="${offer.capacity}">capacity</td>
				</tr>
			</tbody>
			
		</table>
	</div>
</body>
</html>